<h1>Body Mass Index</h1>

<p>Enter your data</p>

<form>
    <label for="height">Height in meters: </label>
    <input name="height" id="height">
    <br>
    <label for="weight">Weight in kilograms: </label>
    <input name="weight" id="weight">
    <br>
    <button type="submit">Calculate</button>
</form>