{{!--
This layout.hbs file's head element is applied to all hbs templates. The body from all hbs templates will automatically
be inserted where the Handlebars {{{ body }}} placeholder is within the HTML body tags of this file. Relatable to using
a base.html page and extending it to other templates.
--}}

<!DOCTYPE html>
<html>
<head>
    <title>Body Mass Index Calculator</title>

    <link href="stylesheets/styles.css" type="text/css" rel="stylesheet">
</head>
<body>

<h1>Body Mass Index Calculator</h1>

{{{ body }}}

<p>App made by Alexandrea</p>

</body>
</html>